/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.css';

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
*{
  margin:0;
  padding: 0 !important;
}
.p-menubar.p-component {
  border: none !important;
  background: transparent !important;
}
.p-menubar .p-menuitem {
  padding: 12px !important;
}

.p-button {
  margin:12px !important;
  padding:12px !important;
}
.p-toolbar {
  margin:8px;
  height:80px;
}
.p-datatable
{
  margin: 12px !important;
}
.p-datatable .p-datatable-header {
  padding: 20px;
}

.p-inputtext {
  padding: 0.5rem !important;
}

.p-dialog{
  padding: 12px !important;
}
.p-dialog .p-dialog-header{
  padding: 1.5rem !important;
}
.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 2rem 1.5rem !important;
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.px-6 {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
}
.align-items-center {
  align-items: center!important;
}
.justify-content-between {
  justify-content: space-between!important;
}
.flex {
  display: flex!important;
}
.text-danger {
  color: darkred;
}
